@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$font-size-base: 0.8125rem;
$font-weight-base: 600;
$headings-font-weight: 800;
$font-family-base: 'Raleway', $font-family-sans-serif;
$body-bg: #b1b1b1;
$link-decoration: underline;