@import 'variables';
@import '~bootstrap/scss/bootstrap';


.header {
  margin-bottom: 80px;
}

.content {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 800px;
}

.group {
  margin-bottom: 20px;
}

.title {
  font-size: 32px;
  margin-bottom: 10px;
  &.colored-container {
    line-height: 1.25;
  }
}

.subtitle {
  @extend .m-0;
  font-size: 16px;
  &.colored-container {
    line-height: 1.35;
  }
}

.item {
  @extend .m-0;
  &.colored-container {
    line-height: 1.5;
  }
  .colored {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.background-video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;

  @supports (object-fit: cover) {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.background-pattern {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(/assets/images/bg-pattern.png);
  opacity: .5;
}

.colored {
  padding: 1px 5px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  &-primary {
    @extend .bg-primary;
  }
  &-secondary {
    @extend .bg-secondary;
    @extend .text-primary;
  }
}